<p style="color: green"><%= notice %></p>

<h2>Movies</h2>

<%= render 'scope' %>

<div class="container">
  <div class="row">
    <% @movies.each do |movie| %>
      <div class="col-md-6">
        <div class="card mb-6 box-shadow">
          <div class="card-body">
            <div class="row">
              <div class="col">
                <% if movie.avatar.present? %>
                  <%= image_tag(movie.avatar, size: "200x200") %>
                <% else %>
                  <%= image_tag("https://via.placeholder.com/200?text=No image", size: "200x200" ) %>
                <% end %>
                <%= render movie %>
                <%# if movie.average_rating %>
<!--                  <strong>Average rating: </strong><%#= number_with_precision(movie.average_rating,precision: 2) %>-->
                <%# end %>
                <div class="d-flex justify-content-between align-items-center">
                  <div class="btn-group">
                    <%= link_to "Show movie", movie, class: 'btn btn-outline-secondary' %>
                  </div>
                </div>
              </div>
              <% if movie.average_rating %>
              <div class="col d-flex align-items-center">
                <strong>Average Rating</strong>
                <div class="progress w-100" role="progressbar" aria-label="Animated striped example" aria-valuenow="<%= number_with_precision(movie.average_rating,precision: 2) %>" aria-valuemin="0" aria-valuemax="5">
                  <div class="progress-bar progress-bar-striped progress-bar-animated" style="width: <%= number_with_precision(movie.average_rating,precision: 2).to_f * 20 %>%"><%= number_with_precision(movie.average_rating,precision: 2) %></div>
                </div>
              </div>
            </div>
                <% end %>
          </div>
        </div>
      </div>
    <% end %>
  </div>
</div>

<div class="paginate">
  <%= will_paginate @movies, :container => false, :previous_label => 'Previous', :next_label => 'Next', :class => 'pagination', :inner_window => '2', :outer_window => '2' %>
</div>


<%= link_to "New movie", new_movie_path, class: 'btn btn-outline-primary' %>

<% if params.has_key?(:start_date) %>
<%= link_to "Back", :back , class: 'btn btn-outline-secondary' %>
<% end %>



