<!DOCTYPE html>
<html>
  <head>
    <title>MovieReview</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= favicon_link_tag asset_path("rate.png") %>
    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
  </head>
  <% if user_signed_in? %>
  <div class="navbar navbar-expand-lg navbar " style="background-color: #CCCCCC" >
    <div class="container-fluid">
      <% if current_user.avatar.attached? %>
        <%= image_tag(current_user.avatar, size: '35x35', style: 'border-radius: 50%') %><h5><%= current_user.email %></h5>
      <% else %>
        <img src="https://ui-avatars.com/api/?name=<%= current_user.email %>" alt="avatar 1" style="width: 45px; height: 100%; border-radius: 50%"><h5><%= current_user.email %></h5>
      <% end %>
      <div class="justify-content-end">
      <%= form_with method: :get do |form| %>
        <%= form.date_field :start_date, require: true %>
        <%= form.date_field :end_date, require: true %>
        <%= form.submit "Show detail" %>
      <% end %>
    </div>
    <div class="dropdown show " >
      <a class="btn btn-secondary dropdown-toggle" href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
      <a class="dropdown-item" href="#"><%= link_to 'Edit Profile', edit_user_registration_path %></a>
      <a class="dropdown-item" href="#"><%= link_to 'Log Out', destroy_user_session_path, method: :delete,data: {confirm: 'Are you sure'} %></a>
      </div>
    </div>
    </div>
  </div>
  <% else %>
  <div class="navbar navbar-expand-lg navbar justify-content-start" style="background-color: #CCCCCC">
    <h3>Please Log in to access </h3>
    <div class="dropdown show">
      <a class="btn btn-secondary dropdown-toggle " href="#" type="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        User
      </a>
      <div class="dropdown-menu" aria-labelledby="dropdownMenuLink">
        <a class="dropdown-item" href="#"><%= link_to 'Sign-In', new_user_session_path %>
        </a>
        <a class="dropdown-item" href="#"><%= link_to 'Sign-Up', new_user_registration_path %></a>
      </div>
    </div>
  </div>
  <% end %>

          <p class="notice"><%= notice %></p>
          <p class="alert"><%= alert %></p>

    <%= yield %>
  </body>
</html>
<!--data: { "turbo-method": :delete}-->
<%#= link_to 'Edit Profile', edit_user_registration_path %>
<%#= link_to 'Log Out', destroy_user_session_path, method: :delete %>
<%# else %>
<%#= link_to 'Sign_In', new_user_session_path %>
<%#= link_to 'Sign_Up', new_user_registration_path %>